.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubMenu {
  float: right;
  font-size: 18px;
}

.button {
  //height: 48px;
  top: 0
}

.siderButton {
  display: flex;
  height: 47px;
  align-items: center;
  font-size: 18px;
}

.MenuItem {
  font-size: 24px;
}

