@import "../Constants";

.header {
  background: white;
  padding: 0 30px 0 0;
  font-size: 18px;
  //position: relative;
  height: @headerHeight;
}

.sider {
  height: @pageHeight;
}

.main {
  height: 100vh;
  //position: relative;
}

.layout {
  height: @pageHeight;
  //position: relative;
}

.content {
  //position: relative;
  overflow: auto;
  padding: 16px;
}

.footer {
  //position: relative;
  padding: 5px 50px;
}
