.aside {
  width: 224px;
  min-height: 100%;
}

.sider {
  position: fixed;
  top: 0;
  left: 0;
  width: 224px;
  background: #404040;
  overflow: auto;
  height: 100%;
}

.main {
  margin-left: 224px;
}

.logo {
  background: #404040;
  height: 32px;
  text-align: center;
  color: lightgray;
}
